.order-layout {
  /* display: flex;
  flex-direction: column;  */

  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;

  width: 50%;
  
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  padding: 16px;
  border-radius: 8px;
}

.d-block {
    display: block;
}


.form {
  width: 80%;
}

.button-style {
  background-color: #005cbb;
  color: white;
}
table {
  width: 100%;
}
.button-style a {
  background-color: #005cbb;
  color: white;
  text-decoration: none;
}