
<div class="login-layout">
    <h2>Update Product</h2>
    <form class="form" [formGroup]="productForm" (ngSubmit)="update()">
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Name: </mat-label>
            <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Description: </mat-label>
            <input type="text" matInput placeholder="Description"  formControlName="description">
        </mat-form-field>
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Retail Price: </mat-label>
            <input type="number" matInput placeholder="1" formControlName="retailPrice">
        </mat-form-field>
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Wholesale price: </mat-label>
            <input type="number" matInput placeholder="1" formControlName="wholesalePrice">
        </mat-form-field>
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Quantity: </mat-label>
            <input type="number" matInput placeholder="1" formControlName="quantity">
        </mat-form-field>
        <button mat-flat-button color="primary" class="button">Update</button>
    </form>
</div>
