table {
  width:100%;
  margin-bottom: 1em;
      box-shadow: 
      0px 2px 4px -2px rgba(0, 0, 0, 0.15), 
  0px 4px 6px 0px rgba(0, 0, 0, 0.10), 
  0px 1px 10px 0px rgba(0, 0, 0, 0.08);
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 3em;
}

.button-style, .button-style a {
  background-color: #005cbb;
  color: white;
  text-decoration: none;
}
