
<div class="login-layout">
    <h2>Sign up</h2>
    <form class="form">
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Username: </mat-label>
            <input type="=text" matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Email: </mat-label>
            <input type="=text" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Password: </mat-label>
            <input type="password" matInput placeholder="Username" >
        </mat-form-field>
        <button mat-flat-button color="primary" class="button">Sign up</button>
        <p style="margin-top: 1rem; text-align: center;">
            Already have an account? 
            <a routerLink="/login" style="text-decoration:none">Log in </a>
        </p>
    </form>
</div>
