.navbar {
  height: 4em;
  background-color: #005cbb;
  display: flex;
  align-items: center;
  justify-content: space-between; /* pushes left and right to edges */
  padding: 0 2em; /* optional padding */
}

.nav-items {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 2em;
}

.nav-item a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.nav-item a:hover {
  color: #005cbb;
  background-color: white;
  cursor: pointer;
}

.nav-user {
  list-style: none;
  margin: 0;
  padding: 0;
}

.username {
  color: white;
  margin: 0;
  padding: 0.5em 1em;
}

