
<div class="login-layout">
    <h2>Add New Product</h2>
    <form class="form">
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Name: </mat-label>
            <input type="text" matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Description: </mat-label>
            <input type="text" matInput placeholder="Description" >
        </mat-form-field>
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Retail Price: </mat-label>
            <input type="number" matInput placeholder="1" >
        </mat-form-field>
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Whoesale price: </mat-label>
            <input type="number" matInput placeholder="1" >
        </mat-form-field>
        <mat-form-field class="d-block" appearance="fill">
            <mat-label>Quantity: </mat-label>
            <input type="number" matInput placeholder="1" >
        </mat-form-field>
        <button mat-flat-button color="primary" class="button">Add</button>
        <!-- <p style="margin-top: 1rem; text-align: center;">
            Don't have an account? 
            <a routerLink="/sign-up" style="text-decoration:none">Sign up</a>
        </p> -->
        
    </form>
</div>
